/* header */
.topinfo{
    background-color:#232f3e;
    border-radius: 10px 10px 0 0;
    justify-content: space-between;
    border-bottom: 2px solid #303e4f;
}
.topinfo a{
    font-size: 0.8em;
    transition: all 0.2s linear;
}
.topinfo a:hover{
    color: #fff;
}
.itemlisttopinfo{
    padding: 10px 15px;
}
.imglang{
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 5px;
}
.iconlang{
    color: #bcbdc7;
    font-size: 0.8em;
    padding: 14px 5px 12px 23px;

}
.infonav{
    background-color: #232f3e;
    border-bottom: 2px solid #303e4f;

    
}
.searchbox{
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}
.infonav{
    padding: 20px;
}

.catagorylist{
    border: none;
    border-radius: 0 15px 15px 0;
    padding: 8px 15px;
    
}
.searchinput{
    border: none;
    padding: 8px 10px 8px 40px
}
.searchicon{
    font-size: 1em;
    background-color: #F4A137;
    padding: 7px 15px;
    border-radius: 15px 0 0 15px;
}
.contentus,.cart{
    color: #fff;
    margin-left: 20px;
}
.contentus i{
    margin-left: 10px;
    font-size: 3em;
}
.cart i{
    margin-left: 10px;
    font-size: 3em;
}
.nav{
    background-color:#232f3e;

}
.listnav{
    color: #bcbdc7;
    position: relative;
}
.itemnavllist{
    padding: 10px 20px;
}
.groupingkala::before{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f0c9";
    margin-left: 5px;
    vertical-align: middle;    

}
.groupingkala::after{
    content: " ";
    display: inline-block;
    height: 20px;
    bottom: -5px;
    position: relative;
    width: 1px;
    background: #bcbdc7;
    left: -15px;
}
.itemnavllist{
    margin-left:20px;
}
.menukala{
    width: 80%;
    top: 100%;
    right: 0;
    position: absolute;
    display: none;
    
}
.itemmenulistkala{
    flex-grow: 1;
}
.itemkalalist{
    margin-right: 10px;
    padding: 15px 20px;
    display: block;
    border-radius: 0 10px 10px 0;
}
.divmenulistkala{
    width: 25%;
}
.divmenulistkala{
    background-color: #f7f7f7;
}
.listsubmenu{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 394px;
    padding:18px;    
}
.catagorykala:hover .menukala{
    display: flex;
}
.itemkalalist:hover{
    background-color: #fff;
    color: red;
}





/* main */
/* footer */
